---
name: CI flow for running tests
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Pull the repository
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        id: test
        run: npm run test:capture

      - name: Upload coverage report
        if: ${{ success() || steps.test.conclusion == 'failure' }}
        uses: coverallsapp/github-action@v2
        with:
          file: lcov.info
